# VSCode
.vscode/
*.code-workspace

# Archivos temporales y del sistema
*.log
*.tmp
Thumbs.db
desktop.ini

# Datos o salidas grandes
*.csv
*.xlsx
*.db
*.bak

# Archivos de entorno o credenciales
*.env

# Archivos propios
CS50_SQL_Final_Project.docx
Final version.mp4
